.generator {
    &__container {
        margin: 0 auto;
        max-width: 1200px;
        padding: 3px;
    }
    &__wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
    }
    &__input {
        height: 30px;
        width: 250px;
        padding: 5px;
        font-size: 16px;
        border: 1px solid rgb(194, 192, 192);
        border-radius: 7px;
        margin-bottom: 30px;
        &:focus {
            outline-color: rgb(75, 75, 75);
            border-radius: 7px;
        }
    }
    &__canvas {
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            -webkit-box-shadow: 3px 2px 37px 4px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 3px 2px 37px 4px rgba(34, 60, 80, 0.2);
            box-shadow: 3px 2px 37px 4px rgba(34, 60, 80, 0.2);
        }
    }
    &__inner {
        display: flex;
        justify-content: center;
        flex-direction: column;

        span {
            margin-top: 7px;
            font-size: 11px;
            cursor: default;
        }
    }
}
