* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  height: 100vh;
  background: linear-gradient(45deg, rgb(221, 240, 225) 47%, rgb(125, 206, 208) 84%);
  background-repeat: no-repeat;
  background-size: contain;
}

.App {
  text-align: center;
  max-width: 100%;
}

button {
  margin: 40px 0;
  width: 150px;
  height: 50px;
  font-size: 19px;
  color: #fff;
  background-color: rgb(139, 196, 139);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(109, 151, 109);
}

